# Crash Course in R

## Introducción
R es un lenguaje de programación y entorno de software diseñado para estadística y análisis
de datos. Es ampliamente utilizado en la investigación y el análisis de datos en general.

## Objetos Simples
R se encuentra dentro del paradigma de la Programación Orientada a Objetos (POO), que en palabras simples, quiere decir que primero se crea un objeto y luego este se manipula con
código. Un objeto en R puede ser prácticamente cualquier cosa: un número, una gráfica o
incluso una matriz.

Para crear un objeto en R debemos darle un nombre seguido del símbolo de asignación y el
contenido del objeto

**nombre_objeto <- contenido**

Crear un objteto llamado siete que contenga el 7

crear un objeto llamado mi_inicial con la inicial de tu nombre

Como mostramos un objeto, hay dos opciones:


*   por el nombre
*   *print(objeto)*

En R existen tres tipo de objetos básicos

*   númericos (enteros y decimales)
*   texto (string/caracter)
*   boleanos (lógicos-verdadero/falso)

El otro tipo de objeto son los boleanos (lógicos) los que son TRUE o FALSE

Existen más tipos de objetos pero no es nuestro objetivo discutirlo aquí

## Vector
Un vector en R es una colección de objetos del mismo tipo

**nombre_vector <- c(objeto1, objeto2, objeto3, ....)**

Vamos a crear un vector con los numeros del uno al cinco

Vamos a crear un vector con los nombres de los alumnos de la clase

si queremos elegir un elemento del vector lo hacemos de la siguiente manera:

**vector[posición]**

Si queremos elegir a Jimena

## Data frame
Un Dataframe es una estructura de datos organizados en filas y columnas, algo similar a lo
que ocurre en excel.

Los dataframes agrupan vectores en una tabla. Cada vector se convierte en
una columna de la tabla.

Vamos a crear data frame con nombre, materia y calificación

In [17]:
## ver data frame

Elegir columna

In [18]:
## con $

In [19]:
## selección tipo vector

Elegir a los que tienen una calificación mayor o igual a 80

## Librerías/paquetes
Son conjunto de códigos de R, que le indican a R como hacer determinadas cosas. Por tanto un libreria sirve para ampliar las funciones de R

En nuestro caso utilizaremos **tidyverse** que es un conjunto de librerias que sirven para análisis de datos

La librería **dplyr** que forma parte de *tidyverse* tiene 6 funciones importantes:

* *filter()* para filtrar o elegir las observaciones por sus valores o filas
* *select()* elegir las columnas de un data frame.
* *arrange()* para ordenar un dataframe de acuerdo al valor de una columna o columnas
* *mutate()* Crear nuevas variables con transformaciones de variables existentes
* *summarise()*  del inglés resumir, sirve para resumir un conjunto de valores en uno solo, como la media.
* *group_by()* "agrupar por" cambia el alcance de una función para que actúe ya no sobre todo el conjunto de datos sino de grupo en grupo

Vamos a elegir la columna nombre

vamos a elegir a los alumnos de Español

se pueden combinar las funciones de dplyr